.env
.env.docker
*.db
*.sqlite
var/
__pycache__/
.pytest_cache/
.ruff_cache/
.venv/
node_modules/
dist/
build/
backend/var/
frontend/.env
backend/.env
tempCodeRunnerFile.*
.vscode/
.idea/
.DS_Store
tsconfig.tsbuildinfo

backend/.python-version.local
backend/.venv
frontend/.vite/
